body
{
  background-image: url('../../assets/background.png');
  background-size: cover;
  height: 592px;
}

.pied{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.noir{
  background-color: black;
  color: #fff;
}
