<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page User-simple</title>
</head>
<body >
    
    <div class="container">
      <div class="container part1 m-3">
        <div class="row">
            <div class="col-lg-6">
              <!-- <div>
                <h1 class="text-white">Dashbord</h1 --><!-- <img src="../../assets/dash.png" alt="dash"> -->
              <!-- </div> -->
             <a href="">Dashbord</a> <img src="../../assets/dash.png" alt="deconect">
            </div>
            
             <div class="col-lg-4">
                
            </div>
             <div class="deconect col-lg-2 ">
                <img src="../../assets/deconecter.png" alt="deconect">
            </div> 
        </div>
      </div>
      <div class="container part2 m-3">
            <div class="row">
                <div class="gestion col-lg-3">
                    
                    <!-- <img src="../../assets/iconeUser.png" alt="deconect"><a href="">Ajouter Utilisateurs</a> -->
                   
                    <div><br><br>
                        <img src="../../assets/modUser.png" alt="deconect"><a href="">Modifier_profile</a>
                    </div><br><br>
                    <div>
                        <img src="../../assets/listeUser.png" alt="deconect"><a href="">Liste Utilisateurs</a>
                    </div>
               </div>
                
                <div class="tmp-rel col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                        <h1 class="text-white text-center border border-white ">temps reel</h1>
                        </div>
                        <div class="row">
                        <div class="col-lg-4">
                            <h1 class="text-white  ">Température</h1>
                           <!--  -->
                           <div>
                            <img src="../../assets/Temp.png" alt="Temp"><a href=""> 25°C </a>
                        </div>
                        </div>
                        <div class="col-lg-5">
                            
                          <!-- <h1 class="text-white  ">Humidité</h1>
                          <img src="../../assets/hum.png" alt="hum"> -->
                      </div>
                        <div class="col-lg-3">
                            
                            <h1 class="text-white  ">Humidité</h1>
                            <div>
                             <img src="../../assets/hum.png" alt="hum"><a href=""> 60% </a>
                            </div>
                        </div>
                         </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="container part3 m-3" >
            <div class="row">
                <div class="col-lg-8 mt-5 ">
                    <table class="table text-white  border border-white">
                        <thead >
                          <tr>
                            <th scope="col">Heure</th>
                            <th scope="col">08H00</th>
                            <th scope="col">12H00</th>
                            <th scope="col">19H00</th>
                          </tr><br>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Température</th>
                            <td>27°C</td>
                            <td>30°C</td>
                            <td>23°C</td>
                          </tr><br>
                          <tr>
                            <th scope="row">Humidité</th>
                            <td>50%</td>
                            <td>30%</td>
                            <td>10%</td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
                <div class="sec col-lg-4 mt-5">
                    <img src="../../assets/humide.png" alt="sec"> 
                </div>
            </div>
      </div>
    </div>
</body>
</html>

