<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page Admin</title>
</head>
<body >

    <div class="container">
      <div class="container part1 m-3">
        <div class="row " style="height: 60px;">
            <div class="col-lg-6">
              <!-- <div>
                <h1 class="text-white">Dashbord</h1 --><!-- <img src="../../assets/dash.png" alt="dash"> -->
              <!-- </div> -->
             <a href="" routerLink="/off" style="font-size: 24px;"> Dashbord</a> <img src="../../assets/dash.png" alt="deconect" style="height: 40px;">
            </div>

             <div class="col-lg-4">

            </div>
             <div class="deconect col-lg-2 ">
                <img src="../../assets/deconecter.png" alt="deconect" style="height: 60px; margin-left: 80px;" (click)="deconnect()">
            </div>
        </div>
      </div>
      <div class="container part2 m-3">
            <div class="row">
                <div class="gestion col-lg-3">

                    <img src="../../assets/iconeUser.png" alt="deconect"><a routerLink="/inscription">Ajouter Utilisateurs</a>

                    <div><br><br>
                        <img src="../../assets/modUser.png" alt="deconect" (click)="choice()"><a >modifierProfil</a>
                    </div><br><br>
                    <div>
                        <img src="../../assets/listeUser.png" alt="deconect"><a routerLink="/listeAdmin">Liste Utilisateurs</a>
                    </div>
                </div>

                <div class="tmp-rel col-lg-9 head">
                    <div class="row">
                        <div class="col-lg-8 " style="margin-left: 125px;">
                        <h3 class="text-white text-center border border-white ">temps reel</h3>
                        </div>
                        <div class="row">
                        <div class="col-lg-4">
                            <h3 class="text-white  ">Température</h3>
                           <!--  -->
                           <div>
                            <img src="../../assets/Temp.png" alt="Temp"><a href=""> 37°C </a>
                        </div>
                        </div>
                        <div class="col-lg-5">

                          <!-- <h1 class="text-white  ">Humidité</h1>
                          <img src="../../assets/hum.png" alt="hum"> -->
                      </div>
                        <div class="col-lg-3">

                            <h3 class="text-white  ">Humidité</h3>
                            <div>
                             <img src="../../assets/hum.png" alt="hum"><a href=""> 20% </a>
                            </div>
                        </div>
                         </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="container part3 " style="height: 250px;" >
            <div class="row">
                <div class="col-lg-8 mt-4">
                    <table class="table text-white  border border-white">
                        <thead >
                          <tr>
                            <th scope="col">Heure</th>
                            <th scope="col">08H00</th>
                            <th scope="col">12H00</th>
                            <th scope="col">19H00</th>
                          </tr><br>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Température</th>
                            <td>27°C</td>
                            <td>30°C</td>
                            <td>23°C</td>
                          </tr><br>
                          <tr>
                            <th scope="row">Humidité</th>
                            <td>50%</td>
                            <td>30%</td>
                            <td>10%</td>
                          </tr>

                        </tbody>
                      </table>
                </div>
                <div class="sec col-lg-4 mt-5">
                    <img src="../../assets/sec.png" alt="sec">
                </div>
            </div>
      </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>

