

<h3>Gestion température et humidité</h3>

<div class="container1">

  <section class=""><br>
    <p>Connexion</p>
    <div class="like">
      <div class="">
<!--         <div class="col-md-9 col-lg-6 col-xl-5">

        </div> -->
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">{{msg}}</a>
          </div>
        </nav>

          <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center">
              <p class="lead fw-normal mb-0 me-3">Se connecter avec</p>

              <button type="button" class="btn btn-danger btn-floating mx-1">
                 <i class="fa fa-google-plus-official" aria-hidden="true"></i>
              </button>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">ou</p>
            </div> -->

            <!-- Email input -->
            <div class="">
              <div class=" ">
              <label class=""  for="form3Example3">Email</label>
            <div class="centre">
              <input type="email" formControlName="email" class=" "placeholder="Adresse mail" /><br><br>

            </div>  
                         </div>
                <div class="alert-danger contient" *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" > Champs vide ou format mail incorrect</div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <div class="">
              <label class="" for="form3Example4">Mot de passe</label>
              <div class="centre">
                <input type="password" id="form3Example4" formControlName="password" class=""placeholder="Mot de passe" /><br><br>

              </div>
               </div>
                <div class="alert-danger contient" *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].touched" > Champs vide ou format mail incorrect</div>
            </div>
            <div class="centre">
              <div class="btn">
                <button type="submit" class="bouton"  [disabled]="signinForm.invalid">Se connecter</button>
                </div>
            </div>
           

          </form>
        </div>
      </div>


  </section>

  </div>



