<body style="background-image: #0b3532">
  <div class="container col-md-8 " style=" border-radius:10px">
    <form method="POST" class="row g-2" id="loginform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <h2 class="text-center mt-5 text-white " id="titre">FORMULAIRE MODIFICATION MOT_DE_PASSE</h2>
      </div>
      <div class="col-md-8 a">
        <label for="inputEmail4" class="form-label text-white" >ancien_mot_de_passe</label>
        <input type="password" formControlName="ancienpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ancienpassword.errors }" placeholder="Mot_de_passe"/>
        <div *ngIf="submitted && f.ancienpassword.errors" class="invalid-feedback">
            <div *ngIf="f.ancienpassword.errors.required">Ce champ est requis</div>
        </div>
      </div><br>
      <div class="col-8 a">
        <label for="inputAddress2" class="form-label text-white">mot_de_passe*</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Mot_de_passe"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Ce champ est requis</div>
        </div>
      </div><br>
      <div class="col-8 a">
        <label for="inputAddress2" class="form-label text-white">confirmation mot de passe* </label>
        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirmation mot_de_passe"/>
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Ce champ est requis</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Les deux mot_de_passe ne correspondent pas</div>
        </div>
      </div>
      <br>
      <div class="form-group pied">
        <button class="btn btn-primary btn-block noir" type="submit">Modifier</button>
        <button class=" btn btn-primary noir">Retour</button>
      </div>
    </form>
  </div>
</body>

