

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listeUser</title>
</head>
<body>
  <div class="container ">
  
  <div class="container-fluid part1">
      <div class="row">
        <div class="col-lg-6 ">
          <!-- <div>
            <h1 class="text-white">Dashbord</h1 --><!-- <img src="../../assets/dash.png" alt="dash"> -->
          <!-- </div> -->
         <img src="../../assets/retour.png" alt="deconect">
        </div>
        
         <div class="col-lg-4">
            
        </div>
         <div class="deconect col-lg-2 ">
            <img src="../../assets/deconecter.png" alt="deconect">
        </div> 
      </div>
  </div>
  <div class="search-hero rec">
    <input class=" rech" type="text" name="search"  autocomplete="off" placeholder="&#61442;  Recherche par nom,prenom ">
  </div><br>
  
  <div class="container">
    <table class="table  border border-white table-striped ">
      <thead> 
          <tr class="tr text-white">
            <th>Prenom</th>
            <th>Nom</th>
            <th>Matricule</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>

          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div> 
<!-- <pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls> -->
</body>
</html>
