
<div class="container p-3 " style="max-width:max-content;">
  <nav class="navbar">

      <a href="http://">
        <img src="../../assets/home.png" class="rounded-circle card-img-top" style="width:50px;height:auto" alt="...">
      </a>
      <div class="d-flex rounded-end  p-2 border border-3 border-white">
 <h4 class=" text-white  " href="#">Système de controle</h4>
      </div>

  </nav>



      <div class="rounded mt-3 d-flex justify-content-center p-3 border border-3 border-white " style="width: px; height:450px;">
<div class="gap-2 card-group">
  <div class=" rounded border border-white">

    <div class="d-flex mt-1 p-2 justify-content-center gap-5">
      <div>
    <img src="../../assets/off.jpg" class="rounded-circle card-img-top" style="width: 50px; height:auto" alt="...">
    <h5 class="card-title  mt-5 text-white d-flex justify-content-center " >Off</h5>
  </div>
  <div >
    <a routerLink="/on">
    <img src="../../assets/noton.jpg" class="rounded-circle card-img-top" style="width: 50px; height:auto" alt="...">
    </a>
    <h5 class="d-flex mt-5 justify-content-center text-white card-title">On</h5>
    </div>
    </div>
    <div class=" mt-5 p-2 card-body">
      <img src="../../assets/fanstop.png"  class=" border border-3 p-1 border-white rounded mx-auto d-block card-img-top" style="width: 200px; height:auto" alt="...">
    </div>
  </div>
  <div class=" p-3 rounded border  border-white" >
    <div class="card-body">
<div class="p-3 rounded border border-white">
      <h5 class=" d-flex justify-content-center text-white card-title">Historique des  températures et de l’humidité</h5>
    </div>
<div class="mt-5">
      <table class=" p-3 table rounded table-bordered table-striped ">

      <thead  class="  rounded table-bordered  " >
        <tr class="text-white">
          <th scope="col">Lundi</th>
          <th scope="col">Mardi</th>
          <th scope="col">Mercredi</th>
          <th scope="col">Email</th>
          <th scope="col">Jeudi</th>
          <th scope="col">Vendredi</th>
          <th scope="col">Samedi</th>
          <th scope="col">Dimanche</th>
        </tr>
      </thead>
<br><br>

      <tbody class="">
<tr>
  <td class="text-warning">températures</td>
  <td></td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>

</tr>
<tr>
  <td class="text-info">Himudité</td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
  <td> </td>
</tr>
      </tbody>

      </table>
      </div>
    </div>

  </div>

</div>
</div>
</div>
