<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="back">
    <div class="tete">
        <a href="http://"><img src="../../assets/téléchargement 2.png" alt="" width="50" height="50" title="Retour"></a>
        <a href="http://"><span class="material-symbols-outlined" title="Deconnecter">logout</span></a>
    </div>
    <nav class="navbar bg-light back">
    <form class="container-fluid justify-content-center back">
        
        </form>
    </nav>
    <div class="container">
        <div class="rechercher">
            <input type="text" placeholder="RECHERCHE" title="Rechercher">
            <button class="btn btn-outline-success me-2 btn " type="button"><a> Liste des utilisateurs actives</a></button>
        </div>
            
    <table class="table a   lign=center">
    <thead>
        <tr align="center">
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Matricule</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let book of Books  ; let i = index">
        <th scope="row">{{ book._id }}</th>
        <td>{{ book.firstName }}</td>
        <td>{{ book.lastName }}</td>
        <td>{{ book.email }}</td>
        <td>{{ book.profil }}</td>
        <td class="text-center">
            <button class="btn btn-sm btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
            <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
            </svg></button>
        </td>
        </tr> -->
        <tr align="center">
            <td>Modou</td>
            <td>Lo</td>
            <td>M2221I</td>
            <td>modou@gmail.com</td>
            <td>Admin</td>
            <td class="text-center">
                <button class="btn btn-sm btn-success" title="Désarchiver"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                </svg></button>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>

