

body{
    background-image:url('../../assets/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* overflow-y: hidden; */
    position: fixed;


   
}
 .container .part1{
    
    border: 5px solid white;
    
}  

a{
    color: white !important;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    
}
.rech{
    width: 500px;
    border-bottom: solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
td{
    color: white;
}