<div class="back">
    <div class="col-md-4">
      <h1>Formulaire de modification</h1><br><br>

      <form [formGroup]="updateForm"> <!-- (ngSubmit)="onUpdate()" -->
        <span class="alert-danger danger"  *ngIf="mailExiste != '' && mailExiste != undefined"> mail existe déja </span>
        <div class="form-group">
          <label>Prenom</label>
          <input class="form-control" type="text" formControlName="firstName" required/>
          <div class="alert-danger danger " *ngIf="updateForm.controls['firstName'].invalid && updateForm.controls['firstName'].touched"> Champs obligatoire</div>
        </div><br>
        <div class="form-group">
          <label>Nom</label>
          <input class="form-control" type="text" formControlName="lastName" required/>
          <div class="alert-danger  danger" *ngIf="updateForm.controls['lastName'].invalid && updateForm.controls['lastName'].touched"> Champs obligatoire</div>
        </div><br>
        <div class="form-group">
        <label>Email</label>
          <input class="form-control" type="email" formControlName="email" required/>
          <div class="alert-danger danger " *ngIf="updateForm.controls['email'].invalid && updateForm.controls['email'].touched"> Champs obligatoire</div>
        </div><br>
        <div class="form-group pied">
          <button class="btn btn-primary btn-block noir" type="submit" [disabled]="updateForm.invalid">Modifier</button>
          <button [routerLink]="['/listeActive']" class="noir">Retour</button>
        </div>
      </form>
    </div>
  </div>
